#table-style {
    font-size: 12px;
    overflow: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

  }

  #table-style th {
    border-right: 2px solid white;
    background: #E5EFEE;
    color: #383B66;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-right: 20px;
    white-space: nowrap;
    border-right: none;
    
  }

  
  #table-style th:first-child {
    border-top-left-radius: 8px;
  }
    #table-style th:last-child {
    border-top-right-radius: 8px;
    border-right: none;
  }

  #table-style tr {
    transition: background-color 0.3s ease-in-out;
  }

  #table-style td {

    color: #383B66;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;

  }